@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/Merriweather-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/Merriweather-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/Merriweather-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/Merriweather-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
  margin-top: 0 !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  box-sizing: border-box;

}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

@media (max-width: 1200px) {
  .grid {
    margin: 0 -8px;
  }

  .row {
    margin: 0 -8px;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    padding: 0 8px;
  }

  .col-1 {
    width: calc(100% / 12);
  }

  .col-2 {
    width: calc(100% / 12 * 2);
  }

  .col-3 {
    width: calc(100% / 12 * 3);
  }

  .col-4 {
    width: calc(100% / 12 * 4);
  }

  .col-5 {
    width: calc(100% / 12 * 5);
  }

  .col-6 {
    width: calc(100% / 12 * 6);
  }

  .col-7 {
    width: calc(100% / 12 * 7);
  }

  .col-8 {
    width: calc(100% / 12 * 8);
  }

  .col-9 {
    width: calc(100% / 12 * 9);
  }

  .col-10 {
    width: calc(100% / 12 * 10);
  }

  .col-11 {
    width: calc(100% / 12 * 11);
  }

  .col-12 {
    width: 100%;
  }

  .col-l-1 {
    width: calc(100% / 12);
  }

  .col-l-2 {
    width: calc(100% / 12 * 2);
  }

  .col-l-3 {
    width: calc(100% / 12 * 3);
  }

  .col-l-4 {
    width: calc(100% / 12 * 4);
  }

  .col-l-5 {
    width: calc(100% / 12 * 5);
  }

  .col-l-6 {
    width: calc(100% / 12 * 6);
  }

  .col-l-7 {
    width: calc(100% / 12 * 7);
  }

  .col-l-8 {
    width: calc(100% / 12 * 8);
  }

  .col-l-9 {
    width: calc(100% / 12 * 9);
  }

  .col-l-10 {
    width: calc(100% / 12 * 10);
  }

  .col-l-11 {
    width: calc(100% / 12 * 11);
  }

  .col-l-12 {
    width: 100%;
  }

  .ord-l-1 {
    order: 1;
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  .hide-l {
    display: none !important
  }
}

@media (min-width: 1200px) {
  .hide-d {
    display: none !important
  }
}

@media (max-width: 600px) {
  .grid {
    margin: 0 -8px;
    display: flex;
  }

  .row {
    margin: 0 -8px;
  }

  .col-m-1 {
    width: calc(100% / 12);
  }

  .col-m-2 {
    width: calc(100% / 12 * 2);
  }

  .col-m-3 {
    width: calc(100% / 12 * 3);
  }

  .col-m-4 {
    width: calc(100% / 12 * 4);
  }

  .col-m-5 {
    width: calc(100% / 12 * 5);
  }

  .col-m-6 {
    width: calc(100% / 12 * 6);
  }

  .col-m-7 {
    width: calc(100% / 12 * 7);
  }

  .col-m-8 {
    width: calc(100% / 12 * 8);
  }

  .col-m-9 {
    width: calc(100% / 12 * 9);
  }

  .col-m-10 {
    width: calc(100% / 12 * 10);
  }

  .col-m-11 {
    width: calc(100% / 12 * 11);
  }

  .col-m-12 {
    width: 100%;
  }

  .hide-m {
    display: none !important
  }
}

.b-clear {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  background: #FFF;
  line-height: 120%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1C1F22;
  position: relative;
  overflow-x: hidden;
}

body.fixed {
  overflow: hidden;
}

body.fixed::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 18;
}

@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 600px) {}

.container {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 1920px;
  width: 100%;
  box-sizing: border-box;
}

.container-no-padd {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 600px) {
  .section {}
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  color: #1D1D1B;
}


h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Merriweather', serif;
  font-size: 32px;
  font-style: normal;
  line-height: 120%;
  color: #1D1D1B;
}

h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Merriweather', serif;
  font-size: 24px;
  font-style: normal;
  line-height: 120%;
  color: #1D1D1B;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

}

*:hover {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

*:not(body, html)::-webkit-scrollbar {
  width: 3px;
  background-color: #E9F0FF;
  border-radius: 2px;
}

*:not(body, html)::-webkit-scrollbar-thumb {
  background: #CDDCE4;
  border-radius: 2px;
}

ul:not([class]) {
  margin: 0 0 0.5em;
  padding: 0 0 0 1.1em;
  list-style-type: square;
}

a {
  text-decoration: none;
  color: #1D1D1B;
  transition: all 0.3s;
}

a:not([class]) {
  color: #1D1D1B;
  text-decoration: none;
}

a:not([class]):hover {
  text-decoration: underline;
  color: #1D1D1B;
}

a[href^="tel:"] {
  white-space: nowrap;
}

img {
  max-width: 100%;
  border: none;
}

input,
textarea,
button,
select {
  outline: none;
  border: none;
  font-family: 'Roboto Slab', sans-serif;
}

input,
textarea {
  padding: 16px 20px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #D2DAE1;
  background: transparent;
  resize: none;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
}

input:focus,
textarea:focus {
  border: 1px solid #1C1F22;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  color: #9E9B97;
}

textarea {
  height: 164px;
}

label {
  margin-bottom: 8px;
  display: block;
  letter-spacing: 1px;
}

@media (max-width: 600px) {

  input,
  textarea {
    font-size: 14px;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 14px;
  }
}

.select2-container {
  width: 100% !important
}

.select2-container--default .select2-selection--single {
  padding: 16px 20px;
  display: block;
  width: 100%;
  border: 2px solid #EEE;
  border-radius: 0;
  background: transparent;
  resize: none;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  color: #1D1D1B;
  line-height: 130%;
  height: 53px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  color: #1D1D1B;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(50%);
  width: 9px;
  height: 6px;
  background: url(../img/icons/arr-down.svg) 0 50% no-repeat;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-dropdown {
  border: 1px solid #EEE;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  color: #000479;
  background: none;
}

.select2-container--default .select2-results__option--selected {
  background: #E9F0FF;
}

.select2-container--open .select2-dropdown--below {
  z-index: 100000;
}

@media (max-width: 1200px) {
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
  }

  .select2-container--default .select2-selection--single {
    padding: 18px 20px;
    height: 64px;
  }
}

.btn {
  padding: 24px 48px;
  display: inline-block;
  border: 1px solid #000479;
  font-size: 16px;
  line-height: 100%;
  position: relative;
  transition: all 0.3s;
  background: #000479;
  text-align: center;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: #000479;
}


.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page__header {
  max-width: 1920px;
  margin: 0 auto;
  z-index: 20;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.page__body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  flex-grow: 1;
  z-index: 2;

}

.p-main {
  padding-top: 0;
}

.page__footer {
  z-index: 2;
}


/* main-menu */
.main-menu-wrapp {
  margin: 0 auto;
  width: max-content;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-menu .menu-item a {
  padding: 10px 0;
  display: block;
  position: relative;
}

.main-menu .menu-item a::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 0;
  height: 1px;
  background: #1D1D1B;
  transition: width 0.3s;
}

.main-menu .menu-item a:hover::before {
  width: 100%;
}

.main-menu .menu-item a:hover {
  text-decoration: none;
}

/* main-menu */
.socials {
  display: flex;
  gap: 10px;
}

.socials a {
  text-decoration: none;
}

.socials a:hover {
  text-decoration: none;
  opacity: 1;
}

.socials img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/*  */
.header {
  background: #fff;
}

.header__content {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  max-width: 60px;
}

/* Main Banner */
.main-banner {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

.main-banner__content {
  margin: 50px 0;
  width: calc(100% - 450px);
}

.main-banner__img {
  width: 400px;
  height: 400px;
  border-radius: 0 0 500px 500px;
  position: relative;
  z-index: 1;
}

.main-banner__img::before {
  content: '';
  display: block;
  width: 400px;
  height: 400px;
  border-radius: 500px;
  /* background: rgba(0, 158, 226, 1); */
  background: #9eafc1;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: -1;
  animation: circle 0.3s ease-in both;
}

.main-banner__image {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  border-radius: 0 0 200px 200px;
  z-index: 1;
  width: 400px;
  height: 100%;
  overflow: hidden;
}

.main-banner__image img {
  width: 122%;
  max-width: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -28%;
  animation: image 0.6s ease-in 0.3s both;

}

@keyframes circle {
  from {
    width: 0px;
    height: 0px;
  }

  to {
    width: 400px;
    height: 400px;
  }
}

@keyframes image {
  from {
    bottom: -110%;
  }

  to {
    bottom: -35%;
  }
}

.main-banner__title {
  margin-bottom: 30px;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 120%;
}

.main-banner__description {
  font-size: 20px;
}

/* /Main Banner */
/* About Project */
.about-project {
  display: flex;
  justify-content: space-between;
}

.about-project__img {
  width: calc(40% - 25px);
  border-radius: 16px;
  overflow: hidden;
  max-height: 300px;
}

.about-project__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-project__content {
  width: calc(60% - 25px);
  line-height: 160%;
  font-size: 20px;
}

/* About Project */